<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{blocos[myNavigator.topPage.data.id].nome}}</div>
        <div class="right">
            <ons-toolbar-button ng-click="myNavigator.pushPage('views/config-bloco.html',{data: {id: myNavigator.topPage.data.id}});">
                <ons-icon icon="fa-ellipsis-v"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <!-- Centeudo da view -->
    <div class="conteudo" ng-init="setId(0)">
    
        <ons-list>
            <ons-list-header>Converter</ons-list-header>
        </ons-list>
        
        <ons-row>
            <ons-col class="center" style="padding: 4px;">
                {{blocos[myNavigator.topPage.data.id].registros[id].label1}}
            </ons-col>
            <ons-col width="45px" style="padding: 4px;">
                
            </ons-col>
            <ons-col class="center" style="padding: 4px;">
                {{blocos[myNavigator.topPage.data.id].registros[id].label2}}
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col class="center" style="padding: 4px;">
                <input type="number" placeholder="{{lang.valor}}" step="any"
                       style="width: 90%;" ng-model="A"  
                       class="text-input text-input--material text-input--underbar" />
            </ons-col>
            <ons-col width="45px" style="padding: 4px;" class="center">
                <ons-icon icon="fa-arrows-h"></ons-icon>
            </ons-col>
            <ons-col class="center" style="padding: 4px;">
                <input type="number" placeholder="{{lang.valor}}" step="any"
                       style="width: 90%;" ng-model="B"
                       class="text-input text-input--material text-input--underbar" />
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col class="center" style="padding: 4px;">
                <ons-button class="verde" ng-click="B=A*blocos[myNavigator.topPage.data.id].registros[id].valor">
                    <ons-icon icon="fa-arrow-right"></ons-icon>
                </ons-button>
            </ons-col>
            <ons-col width="45px" style="padding: 4px;" class="center">
                <ons-button class="verde" ng-click="A=B='';">
                    <ons-icon icon="fa-trash-o"></ons-icon>
                </ons-button>
            </ons-col>
            <ons-col class="center" style="padding: 4px;">
                <ons-button class="verde" ng-click="A=B/blocos[myNavigator.topPage.data.id].registros[id].valor">
                    <ons-icon icon="fa-arrow-left"></ons-icon>
                </ons-button>
            </ons-col>
        </ons-row>        
        <ons-list>
            <ons-list-header>opções</ons-list-header>
            
            <ons-list-item tappable ng-repeat="(key, registro) in blocos[myNavigator.topPage.data.id].registros"
                           ng-click="setId(key);">
                <ons-row>
                    <ons-col class="center" style="padding: 4px;">
                        {{registro.label1}}
                    </ons-col>
                    <ons-col width="30px" style="padding: 4px;">
                        <ons-icon icon="fa-arrows-h"></ons-icon>
                    </ons-col>
                    <ons-col class="center" style="padding: 4px;">
                        {{registro.label2}}
                    </ons-col>
                </ons-row>
            </ons-list-item>

        </ons-list>
    </div>

</ons-page>