<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{lang.titulo}}</div>
        <div class="right" style="width: 72px;"></div>
    </ons-toolbar>
    
    <!-- Centeudo da view -->
    <div class="conteudo" ng-init="novoBloco()">
        <p class="center">
            <ons-icon icon="{{lang.tipo[myNavigator.topPage.data.id].icone}}" size="50px"></ons-icon>
        </p>
        <p class="center">
            <h1 class="center">{{lang.tipo[myNavigator.topPage.data.id].nome}}</h1>
        </p>
        <p class="center">
            {{lang.blocoSemForm}}
            <ons-input type="hidden" ng-model="bloco.nome"  
                       ng-init="bloco.nome=lang.tipo[myNavigator.topPage.data.id].nomeBloco">
            </ons-input>
            <ons-input type="hidden" ng-model="bloco.saldo" ng-init="bloco.saldo=1"></ons-input>
        </p>
        <p class="center toda-tela">
            <ons-button class="verde" ng-click="salvarBloco('BlocoMe2us')" >
                {{lang.salvar}}
            </ons-button>
        </p>
        <p class="center">
            <ons-card>
                {{lang.tipo[myNavigator.topPage.data.id].descr}}
            </ons-card>
        </p>
    </div>

</ons-page>

