<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{blocos[myNavigator.topPage.data.id].nome}}</div>
        <div class="right">
            <ons-toolbar-button ng-click="myNavigator.pushPage('views/config-bloco.html',{data: {id: myNavigator.topPage.data.id}});">
                <ons-icon icon="fa-ellipsis-v"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <!-- Centeudo da view -->
    <div class="conteudo">
    
        <ons-list>
            <ons-list-header>Moeda Base</ons-list-header>
            <ons-list-item>
                  <div class="left">
                        R$
                  </div>
                  <div class="center">
                        Real
                  </div>
                  <div class="right">
                        <ons-button>
                            Selecionar
                        </ons-button>
                  </div>
            </ons-list-item>
            <ons-list-header>Cotações</ons-list-header>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio name="moeda" input-id="moeda1" ng-model="moeda" value="1" checked="checked">
                    </ons-radio>
                </label>
                <label for="moeda1" class="center">
                    Dollar&nbsp;<span class="fonte-cinza">06/06/2018 16:12</span>
                </label>
                <div class="right">
                    U$ 3,42
                </div>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio name="moeda" input-id="moeda2" ng-model="moeda" value="2">
                    </ons-radio>
                </label>
                <label for="moeda2" class="center">
                   Euro&nbsp;<span class="fonte-cinza">06/06/2018 16:12</span>
                </label>
                <div class="right">
                    E$ 4,88
                </div>
            </ons-list-item>
        </ons-list>
    </div>

    <ons-card class="barra-rodape">
        <ons-button class="verde">
            <ons-icon icon="fa-refresh"></ons-icon>&nbsp;Atualizar
        </ons-button>
    </ons-card>

</ons-page>