<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{blocos[myNavigator.topPage.data.id].nome}}</div>
        <div class="right">
            <ons-toolbar-button ng-click="myNavigator.pushPage('views/config-bloco.html',{data: {id: myNavigator.topPage.data.id}});">
                <ons-icon icon="fa-ellipsis-v"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-row class="tabela-cab-linha fixar">
        <ons-col width="50px" vertical-align="center">
            <ons-icon icon="fa-trash"></ons-icon>
        </ons-col>
        <ons-col width="100px" vertical-align="center">{{lang.data}}/{{lang.hora}}</ons-col>
        <ons-col vertical-align="center">{{lang.descr}}</ons-col>
        <ons-col width="70px" vertical-align="center">{{lang.valor}}</ons-col>
    </ons-row>

    <!-- Centeudo da view -->
    <div class="conteudo font-size-16 tabela-revert" style="margin-top:36px;margin-bottom: 48px;">
    
        <ons-row ng-repeat="(idRegistro, registro) in blocos[myNavigator.topPage.data.id].registros"
                 ng-class="(registro.valor >= 0) ? 'tabela-linha-impar' : 'tabela-linha-par'">
            <ons-col class="tabela-celula" width="50px">
                <ons-button ng-click="deletarRegistro(myNavigator.topPage.data.id, idRegistro)">
                    <ons-icon icon="fa-trash"></ons-icon>
                </ons-button>
            </ons-col>
            <ons-col class="tabela-celula" width="80px" vertical-align="center">
                {{registro.dt}}<br>{{registro.hr}}
            </ons-col>
            <ons-col class="tabela-celula" vertical-align="center">{{registro.label}}</ons-col>
            <ons-col class="tabela-celula direita" width="75px" vertical-align="center"
                     ng-class="(registro.valor >= 0) ? 'fonte-verde' : 'fonte-vermelho'" >
                {{ registro.valor| currency:''}}
            </ons-col>
        </ons-row>

        <ons-row ng-if="blocos[myNavigator.topPage.data.id].countRegistros == 0"
                 class="tabela-linha-impar">
            <ons-col class="tabela-celula" width="100%">
                {{lang.noReg}}
            </ons-col>
        </ons-row>

    </div>
    <ons-card class="barra-rodape">
        <span class="font-size-16 negrito">
            {{lang.saldo}} 
            <span ng-class="(blocos[myNavigator.topPage.data.id].saldo >= 0) ? 'fonte-verde' : 'fonte-vermelho'">
                {{blocos[myNavigator.topPage.data.id].saldo | currency: lang.moeda}}
            </span>&nbsp;</span>
        <ons-button class="verde" ng-click="abrirModal('modalLancar','valor')">
            <ons-icon icon="fa-plus"></ons-icon>&nbsp;{{lang.lancar}}
        </ons-button>
    </ons-card>

    <ons-modal var="modalLancar" direction="up">
          <div style="text-align: center">
                <ons-card>
                    <p>
                        <ons-input input-id="label" modifier="underbar" placeholder="{{lang.descr}}" 
                                   float ng-model="registro.label" maxlength="25" style="width: 100%;" >
                        </ons-input>
                    </p>
                    <p>
                        <input type="number" placeholder="{{lang.valor}}" step="0.01"
                               style="width: 100%;" ng-model="registro.valor" id="valor" align="right"
                               class="text-input text-input--material text-input--underbar" />
                    </p>
                    <p>
                        <ons-row>
                            <ons-col width="50%" style="padding: 3px;">
                                <ons-button class="verde" modifier="large"
                                            ng-click="lancarRegistro(myNavigator.topPage.data.id)">
                                    {{lang.depositar}}
                                </ons-button>
                            </ons-col>
                            <ons-col width="50%" style="padding: 3px;">
                                <ons-button class="vermelho" modifier="large"
                                            ng-click="lancarRegistro(myNavigator.topPage.data.id, true)">
                                    {{lang.sacar}}
                                </ons-button>
                            </ons-col>
                        </ons-row>
                        <ons-row>
                            <ons-col width="100%" style="padding: 3px;">
                                <ons-button modifier="large" ng-click="modalLancar.hide()">
                                    {{lang.fechar}}
                                </ons-button>
                            </ons-col>
                        </ons-row>
                    </p>
                </ons-card>
          </div>
    </ons-modal>
    
</ons-page>