<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{blocos[myNavigator.topPage.data.id].nome}}</div>
        <div class="right" style="width: 72px;"></div>
    </ons-toolbar>
    
    <!-- Centeudo da view -->
    <div class="conteudo">
    
		<ons-list>
            <ons-list-header>{{lang.configBloco.titulo}}</ons-list-header>
            <ons-list-item tappable ng-click="modalRenomear.show()">
                <div class="left">
                    <ons-icon icon="fa-edit" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{lang.configBloco.editar}}
                </div>
            </ons-list-item>
            <ons-list-item tappable ng-click="limparRegistros(myNavigator.topPage.data.id)">
                <div class="left">
                    <ons-icon icon="fa-minus" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{lang.configBloco.limpar}}
                </div>
            </ons-list-item>
        </ons-list>
        <p class="center">
            <ons-button class="vermelho" ng-click="deletarBloco(myNavigator.topPage.data.id)" >
                <ons-icon icon="fa-trash"></ons-icon>&nbsp;{{lang.configBloco.excluir}}
            </ons-button>
        </p>
	    <div class="rodape">
            {{lang.rodape}}
        </div>    
    </div>

    <ons-modal var="modalRenomear" direction="up">
          <div style="text-align: center">
                <ons-card>
                    <p>
                        <ons-input id="label" modifier="underbar" placeholder="{{lang.nome}}" maxlength="15"
                                   float ng-model="blocos[myNavigator.topPage.data.id].nome" style="width: 90%;" >
                        </ons-input>
                    </p>    
                    <p>
                        <ons-row>
                            <ons-col width="50%" style="padding: 3px;">
                                <ons-button modifier="large"  ng-click="modalRenomear.hide()">
                                    {{lang.fechar}}
                                </ons-button>
                            </ons-col>
                            <ons-col width="50%" style="padding: 3px;" >
                                <ons-button modifier="large" class="verde" 
                                            ng-click="renomearBloco(myNavigator.topPage.data.id)" >
                                    {{lang.salvar}}
                                </ons-button>
                            </ons-col>
                        </ons-row>
                    </p>
                </ons-card>
          </div>
    </ons-modal>

</ons-page>

