<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{lang.titulo}}</div>
        <div class="right" style="width: 72px;"></div>
    </ons-toolbar>
    
    <!-- Centeudo da view -->
    <div class="conteudo">
    
		<ons-list>
            <ons-list-header>{{lang.config.titulo}}</ons-list-header>
            <ons-list-item modifier="chevron" tappable ng-click="myNavigator.pushPage('views/ordenar.html');">
                <div class="left">
                    <ons-icon icon="fa-list-ol" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{lang.config.ordem}}
                </div>
            </ons-list-item>
            <!--
            <ons-list-item>
                  <div class="left">
                        <ons-icon icon="fa-lock" class="list-item__icon"></ons-icon>
                  </div>
                  <div class="center">
                        {{lang.config.veriSenha}}
                  </div>
                  <div class="right">
                        <ons-switch></ons-switch>
                  </div>
            </ons-list-item>
            <ons-list-item tappable>
                <div class="left">
                    <ons-icon icon="fa-key" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{lang.config.trocSenha}}
                </div>
            </ons-list-item>
            <ons-list-item tappable>
                <div class="left">
                    <ons-icon icon="fa-download" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{lang.config.criarBkp}}
                </div>
            </ons-list-item>
            <ons-list-item tappable>
                <div class="left">
                    <ons-icon icon="fa-database" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{lang.config.loadBkp}}
                </div>
            </ons-list-item>
            -->
            <ons-list-item modifier="chevron" tappable ng-click="myNavigator.pushPage('views/linguas.html');">
                <div class="left">
                    <ons-icon icon="fa-globe" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{lang.config.lang}}
                </div>
            </ons-list-item>
            <ons-list-item tappable ng-click="ons.notification.alert(lang.indisponivel)">
                <div class="left">
                    <ons-icon icon="fa-times-circle" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{lang.config.rmPubli}}
                </div>
                <div class="right fonte-verde">
                    R$ 4,99
                </div>
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('views/sobre.html');" tappable>
                <div class="left">
                    <ons-icon icon="fa-user" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{lang.config.contato}}
                </div>
            </ons-list-item>
        </ons-list>
        <p class="center">
            <ons-button class="vermelho" ng-click="deletarTodosBlocos()" >
                <ons-icon icon="fa-trash"></ons-icon>&nbsp;{{lang.config.clear}}
            </ons-button>
        </p>
	    <div class="rodape">
            {{lang.rodape}}
        </div>    
    </div>

</ons-page>

