<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left" style="width: 72px;">
    		<img src="img/icone.png" width="60px" />
    	</div>
      	<div class="center">{{lang.titulo}}</div>
      	<div class="right">
	      	<ons-toolbar-button ng-click="myNavigator.pushPage('views/config.html');">
	        	<ons-icon icon="fa-ellipsis-v"></ons-icon>
	      	</ons-toolbar-button>
    	</div>
    </ons-toolbar>
    
    <!-- Centeudo da view -->
    <div class="conteudo">
    
	    <p class="center" ng-show="countBlocos == 0">
	    	<img src="img/logo.png" width="70%" style="max-width: 300px;" />
	    	<br/>
	    	{{lang.msgSemBlocos}}
	    </p>

	    <ons-card class="font-size-12" ng-repeat="id in ordem" ng-click="myNavigator.pushPage('views/bloco-'+lang.tipo[blocos[id].tipo].sigla+'.html', {data: {id: id}});"
	               ng-class="{ 'bloco': blocos[id].saldo <= 99999,'bloco-extend': blocos[id].saldo>99999}">
	    	
	    	<!-- Bloco do tipo Controle -->
	    	<span ng-show="lang.tipo[blocos[id].tipo].categoria == 'controle'">
	    		<ons-row>
		    		<ons-col width="108px" style="height: 15px;">
		    			{{blocos[id].nome}}
		    		</ons-col>
		        </ons-row>
		    	<ons-row>
		    		<ons-col width="26px">
	                	<ons-icon icon="{{lang.tipo[blocos[id].tipo].icone}}" class="left" size="18px" style="margin-top: 5px;"></ons-icon>
		    	    </ons-col>
		    	    <ons-col>
		    	    	<span class="font-size-9">{{lang.saldo}}</span> <br/>
		    	        <div class="negrito bloco-valor" 
		    	             ng-class="{ 'font-size-14': blocos[id].saldo <= 999,
		    	                         'font-size-13': blocos[id].saldo  > 999 && blocos[id].saldo  <= 9999, 
		    	                         'font-size-11': blocos[id].saldo  > 9999, 
		    	                         'fonte-verde': blocos[id].saldo >= 0, 
		    	                         'fonte-vermelho': blocos[id].saldo < 0 }">
		    	         	{{blocos[id].saldo | currency: lang.moeda}}
		    	        </div>
		    		</ons-col>
		        </ons-row>
	        </span>

	        <!-- Bloco do tipo info -->
    		<span ng-show="lang.tipo[blocos[id].tipo].categoria == 'info'">
	    		<ons-row>
		    		<ons-col width="108px" style="height: 15px;">
		    			{{lang.tipo[blocos[id].tipo].nome}}
		    		</ons-col>
		        </ons-row>
		    	<ons-row>
		    		<ons-col width="26px">
	                	<ons-icon icon="{{lang.tipo[blocos[id].tipo].icone}}" class="left" size="18px" style="margin-top: 5px;"></ons-icon>
		    	    </ons-col>
		    	    <ons-col>
		    	    	<span class="font-size-10">15/05/2018 16:00</span><br/>
		    	    	<span class="font-size-13 negrito">U$1 › {{blocos[id].saldo | currency: lang.moeda}}</span>
		    		</ons-col>
		        </ons-row>
	    	</span>

	    	<!-- Bloco do tipo matematico -->
    		<span ng-show="lang.tipo[blocos[id].tipo].categoria == 'matematico'">
	    		<ons-row>
		    		<ons-col width="108px" style="height: 15px;">
		    			{{blocos[id].nome}}
		    		</ons-col>
		        </ons-row>
		    	<ons-row>
		    		<ons-col width="26px">
	                	<ons-icon icon="{{lang.tipo[blocos[id].tipo].icone}}" class="left" size="18px" style="margin-top: 5px;"></ons-icon>
		    	    </ons-col>
		    	    <ons-col>
		    	    	<span class="font-size-10">Matematico</span>
		    		</ons-col>
		        </ons-row>
	    	</span>
            
	    </ons-card>

    </div>
    <p class="center toda-tela">
	      <ons-button class="verde" ng-click="myNavigator.pushPage('views/tipo-bloco.html');" >
	        	<ons-icon icon="fa-plus"></ons-icon>&nbsp;{{lang.btNovoBloco}}
	      </ons-button>
    </p>

</ons-page>