<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{lang.titulo}}</div>
        <div class="right" style="width: 72px;"></div>
    </ons-toolbar>
    
    <!-- Centeudo da view -->
    <div class="conteudo">
    
		<ons-list>

            <ons-list-header>Selecione um Idioma</ons-list-header>
            
            <ons-list-item tappable ng-click="defineIdioma('en-US');myNavigator.resetToPage('views/home.html');">
                <div class="left">
                    <img src="img/lang-en-us.png" width="30px;">
                </div>
                <div class="center">
                    Inglês
                </div>
            </ons-list-item>
            <ons-list-item tappable ng-click="defineIdioma('pt-BR');myNavigator.resetToPage('views/home.html');">
                <div class="left">
                    <img src="img/lang-pt-br.png" width="30px;">
                </div>
                <div class="center">
                    Português
                </div>
            </ons-list-item>
            <ons-list-item tappable ng-click="defineIdioma('es-ES');myNavigator.resetToPage('views/home.html');">
                <div class="left">
                    <img src="img/lang-es-es.png" width="30px;">
                </div>
                <div class="center">
                    Espanhol
                </div>
            </ons-list-item>
            <ons-list-item tappable ng-click="defineIdioma('zh-CN');myNavigator.resetToPage('views/home.html');">
                <div class="left">
                    <img src="img/lang-zh-cn.png" width="30px;">
                </div>
                <div class="center">
                    Chines
                </div>
            </ons-list-item>
        </ons-list>

	    <div class="rodape">
            {{lang.rodape}}
        </div>    
        
    </div>

</ons-page>

