<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{lang.titulo}}</div>
        <div class="right" style="width: 72px;"></div>
    </ons-toolbar>
    
    <!-- Centeudo da view -->
    <div class="conteudo">
    
		<ons-list>
            <ons-list-header>{{lang.ordenar}}</ons-list-header>

            <ons-list-item ng-repeat="(key, id) in ordem">
                <div class="left">
                    <ons-icon icon="{{lang.tipo[blocos[id].tipo].icone}}" class="list-item__icon"></ons-icon>
                </div>
                <div class="center">
                    {{blocos[id].nome}}
                </div>
                <div class="right">
                    <ons-button ng-show="key<(ordem.length-1)" style="margin-right: 3px;"
                                ng-click="baixarOrdem(key)" >
                        <ons-icon icon="fa-angle-down"></ons-icon>
                    </ons-button>
                    <ons-button ng-show="key>0" style="margin-right: 3px;"
                                ng-click="sobeOrdem(key)" >
                        <ons-icon icon="fa-angle-up"></ons-icon>
                    </ons-button>
                </div>
            </ons-list-item>

        </ons-list>
	    <div class="rodape">
            {{lang.rodape}}
        </div>    
    </div>

</ons-page>

