<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	<div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{lang.titulo}}</div>
        <div class="right" style="width: 72px;"></div>
    </ons-toolbar>
    
    <!-- Centeudo da view -->
    <div class="conteudo">
    
		<p class="center">
            {{lang.sobre}}
        </p>
        <p class="center">
            {{lang.versao}}: {{versao}}
        </p>
        <ons-list>
            <ons-list-header>{{lang.contato}}</ons-list-header>

        <ons-list>
        <ons-list-item tappable ng-click="copiar('www.hypnostartup.com')">
            <div class="left">
                <ons-icon icon="fa-globe" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                www.hypnostartup.com
            </div>
            <div class="right">
                <ons-icon icon="fa-copy" class="list-item__icon"></ons-icon>
            </div>
        </ons-list-item>
        <ons-list-item tappable ng-click="copiar('hypnostartup@gmail.com')">
            <div class="left">
                <ons-icon icon="fa-envelope" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                hypnostartup@gmail.com
            </div>
            <div class="right">
                <ons-icon icon="fa-copy" class="list-item__icon"></ons-icon>
            </div>
        </ons-list-item>
        <ons-list-item tappable ng-click="copiar('https://gitlab.com/hypnoinc/mural-cash')">
            <div class="left">
                <ons-icon icon="fa-gitlab" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                https://gitlab.com/hypnoinc/mural-cash
            </div>
            <div class="right">
                <ons-icon icon="fa-copy" class="list-item__icon"></ons-icon>
            </div>
        </ons-list-item>
    </div>

</ons-page>

