<ons-page>

    <!-- Barra do Cabeçalho -->
    <ons-toolbar>
    	  <div class="left"><ons-back-button></ons-back-button></div>
      	<div class="center">{{lang.titulo}}</div>
        <div class="right" style="width: 72px;"></div>
    </ons-toolbar>
    
    <!-- Centeudo da view -->
    <div class="conteudo">
    
      <ons-list>
          
          <ons-list-header>{{lang.msgNovoBlocos}}</ons-list-header>

          <ons-segment id="segment" class="toda-tela" active-index="0">
              <button ng-click="filtroCategoria = 'controle'">
                    {{lang.categoria.controle}}
              </button>
              <button ng-click="filtroCategoria = 'matematico'">
                    {{lang.categoria.matematico}}
              </button>
              <!--
              <button ng-click="filtroCategoria = 'info'">
                    {{lang.categoria.info}}
              </button>
              <button ng-click="filtroCategoria = 'outro'">
                    {{lang.categoria.outro}}
              </button>
              -->
          </ons-segment>

          <ons-list-item ng-repeat="(id, bloco) in lang.tipo" tappable
                         ng-if="bloco.categoria === filtroCategoria" >
                  <div class="left" ng-click="myNavigator.pushPage('views/bloco-'+bloco.sigla+'-add.html',{data: {id: id}})">
                      <ons-icon icon="{{bloco.icone}}"></ons-icon>
                  </div>
                  <div class="center" ng-click="myNavigator.pushPage('views/bloco-'+bloco.sigla+'-add.html',{data: {id: id}})">
                      {{bloco.nome}}
                  </div>
                  <div class="right">
                      <ons-button class="cinza" 
                                  ng-click="mostraDetalhes(bloco)">
                          <ons-icon size="20px" icon="fa-info-circle"></ons-icon>
                      </ons-button>
                  </div>
          </ons-list-item>

      </ons-list>
	
    </div>

<ons-dialog var="dialog">
  <div style="text-align: center; padding: 10px;">
    <h3>
      <ons-icon icon="{{icone}}"></ons-icon>
      {{titulo}}
    </h3>
    <p>
      {{descr}}
    </p>
    <p>
      <ons-button ng-click="dialog.hide()">Close</ons-button>
    </p>

  </div>
</ons-dialog>

</ons-page>

