.fixar{
	position: fixed;
	z-index: 99;
}
.center{
	text-align: center;
}
.direita{
	text-align: right !important;
}
.esquerda{
	text-align: left;
}
.aredondado{
	border-radius: 15px; 
}
.font-size-9{
	font-size: 9px;
}
.font-size-10{
	font-size: 10px;
}
.font-size-11{
	font-size: 11px;
}
.font-size-12{
	font-size: 12px;
}
.font-size-13{
	font-size: 13px;
}
.font-size-14{
	font-size: 14px;
}
.font-size-16{
	font-size: 16px;
}
.negrito{
	font-weight: bold;
}
.verde{
	background-color: #15C115;
}
.cinza{
	background-color: #C5C5C5;
}
.vermelho{
	background-color: #C11515;
}
.fonte-vermelho{
	color: red;
}
.fonte-verde{
	color: green;
}
.fonte-cinza{
	color: #919191;
}
.amarelo{
	background-color: #C5C515;
}
.conteudo{
	display: inline-block;
	width: 100%;
}
.bloco {
	display: inline-block;
	width: 114px;
	height: 55px;
	padding: 3px;
	margin: 3px;
}
.bloco-extend {
	display: inline-block;
	width: 140px;
	height: 55px;
	padding: 3px;
	margin: 3px;
}
.bloco-valor{
	max-width: 98px;
	max-height: 14px;
	text-align: right;
	overflow: hidden;
	margin-right: 3px;
}
.toda-tela{
	width: 100%;
}
.botao-tipo-bloco{
	width: 280px;
}
.rodape {
	position: fixed;
	bottom: 10px;
	font-size: 11px;
	width: 100%;
	text-align: center;
}
.barra-rodape {
	position: fixed;
	bottom: 0px;
	width: 100%;
	margin: 0px;
	padding: 6px;
	text-align: right;
}
.tabela-revert{
	display: flex; 
	flex-direction: column;
	flex-flow: column-reverse;
}
.tabela-cab-linha {
	background-color: #d1d1d1;
    font-weight: bold;
    text-align: center;
    height: 36px;
}
.tabela-linha-impar {
	background-color: #E1E1E1;
	text-align: center;
}
.tabela-linha-par {
	background-color: #F1F1F1;
	text-align: center;
}
.tabela-celula{
	margin: 1px;
	padding: 5px;
}